#################
## Misc
#################
**/.DS_Store
node_modules
npm-debug.log
*.js
!webpack.config.js
*.map
*.d.ts
*.metadata.json
bundles

#################
## JetBrains
#################
.idea
.project
.settings

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


